article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
}

h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  width: 10rem;
  text-transform: uppercase;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.3rem;
  letter-spacing: undefined;
  color: #ffffff;
  background: darkgreen;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  border: 3px solid #070707;
  border-radius: 1rem;
}

.button:hover, .button:focus {
  background-color: #009700;
}

.button:active {
  background-color: #003100;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 100, 0, 0.7)), to(rgba(0, 100, 0, 0.7))), url("../assets/green-army-men.jpg");
  background: linear-gradient(rgba(0, 100, 0, 0.7), rgba(0, 100, 0, 0.7)), url("../assets/green-army-men.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
  height: 100vh;
}

.header-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 12rem;
  letter-spacing: 1.5rem;
  color: #FFFFFF;
  text-shadow: 3px 3px #070707;
}

.header-about-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #FFFFFF;
  text-shadow: 2px 2px #070707;
}

.header-about-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-about-form-input-name {
  text-align: center;
  background-color: #FAFAFA;
  border: 2px solid #070707;
  border-radius: 1rem;
  display: block;
  width: 18rem;
  margin: 1rem auto;
  padding: 0.3rem 0;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  color: undefined;
}

.header-about-form-submit {
  display: block;
}

.header-skip-arrow {
  display: none;
  margin-top: 0.75rem;
}

.header-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
}

.header-modal-text {
  background-color: #070707;
  color: #ffffff;
  font-family: 'Black Ops One', sans-serif;
  font-size: 2rem;
  letter-spacing: undefined;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 40%;
  margin: 15% auto;
  padding: 2rem 0;
}

@media (max-width: 930px) {
  .header-about-text {
    font-size: 1.5rem;
  }
  .header-modal-text {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .header-title {
    font-size: 8rem;
  }
  .header-about-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .header-title {
    font-size: 5rem;
  }
  .header-about-text {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .header-modal-text {
    width: 70%;
  }
}

@media (max-width: 475px) {
  .header-modal-text {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .header-title {
    letter-spacing: 0;
  }
  .header-about-form-input-name {
    width: 14rem;
  }
  .header-modal-text {
    width: 90%;
    font-size: 1.5rem;
  }
}

@media (max-height: 535px) {
  .header {
    height: 100%;
    padding-bottom: 3rem;
  }
}

.instructions {
  padding: 1rem 0;
  height: 100vh;
  background-image: url("../assets/cards.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 100%;
  background-position-x: 100%;
}

.instructions-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instructions-image {
  width: 35%;
}

.instructions-text {
  width: 65%;
  padding-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.6;
}

.instructions-text-plain {
  display: none;
}

.instructions-show {
  display: block;
}

.instructions-hide {
  display: none;
}

.instructions-button {
  margin: 1rem auto;
  width: auto;
}

.instructions-skip {
  padding: 0.3rem 2rem;
}

.instructions-rules-list {
  width: 80%;
  padding-left: 1.5rem;
}

.instructions-computer-name {
  color: darkgreen;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1074px) {
  .instructions-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .instructions {
    height: 100%;
  }
  .instructions-image {
    width: 30%;
  }
  .instructions-rules-list {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .instructions-button {
    display: block;
  }
  .instructions-text {
    text-align: center;
  }
  .instructions-text-fun, .instructions-text-plain {
    text-align: left;
  }
}

@media (max-width: 710px) {
  .instructions {
    padding: 2rem 0;
  }
  .instructions-image {
    display: none;
  }
  .instructions-text {
    width: 100%;
    padding: 0;
  }
  .instructions-button {
    display: inline-block;
  }
}

@media (max-width: 475px) {
  .instructions-text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.play {
  background-color: darkgreen;
  color: #ffffff;
  position: relative;
  font-family: "Black Ops One", sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.play-computer-area, .play-player-area {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.play-computer-area-info, .play-player-area-controls-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-computer-area-info-score, .play-computer-area-info-count, .play-computer-area-info-name, .play-computer-area-info-message, .play-player-area-controls-info-score, .play-player-area-controls-info-count, .play-player-area-controls-info-name, .play-player-area-controls-info-message {
  width: calc(100% / 3);
}

.play-computer-area-info-name, .play-player-area-controls-info-name {
  font-size: 1.8rem;
  text-shadow: 2px 2px #000000;
}

.play-computer-area-info {
  margin-bottom: 1rem;
}

.play-player-area-controls-buttons {
  margin: 1rem;
}

.play-player-area-controls-buttons-battle.disabled, .play-player-area-controls-buttons-ceasefire.disabled {
  background-color: #373737;
  color: #777777;
}

.play-player-area-controls-info {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 0.5rem 0;
}

.play-computer-area-info-count, .play-computer-area-info-name, .play-player-area-controls-info-score, .play-player-area-controls-info-count, .play-player-area-controls-info-name {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.play-battle-message-text {
  display: none;
  position: absolute;
  text-align: center;
  top: calc(50% - 6rem);
  left: calc(50% - 12rem);
  width: 22.5rem;
  z-index: 999;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  font-family: 'Black Ops One', sans-serif;
  font-size: 8rem;
  letter-spacing: undefined;
  color: #070707;
}

.card-flip {
  width: 6.5rem;
  height: auto;
  margin: 0 auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-flip-forward.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip-reverse.rotate {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-flip-front, .card-flip-back {
  width: 100%;
  top: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-flip-back {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.play-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.play-modal-text {
  border-radius: 2rem;
  background-color: #544;
  width: 80%;
  margin: 2% auto;
  padding: 1rem 0;
}

.play-modal-title {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

.play-modal-message {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: left;
  width: 80%;
  margin: 2rem auto;
}

.play-modal-score {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.play-modal-button {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 1310px) {
  .play-computer-area-info-count, .play-computer-area-info-message, .play-computer-area-info-score,
  .play-player-area-controls-info-count,
  .play-player-area-controls-info-message,
  .play-player-area-controls-info-score {
    width: 25%;
    font-size: 1rem;
  }
  .play-computer-area-info-name,
  .play-player-area-controls-info-name {
    width: 50%;
  }
}

@media (max-width: 905px) {
  .play-modal-text {
    padding: 0.5rem 0;
  }
  .play-modal-title {
    font-size: 3.5rem;
  }
  .play-modal-message, .play-modal-button {
    margin: 1rem auto;
  }
}

@media (max-width: 745px) {
  .play-computer-area-info-name,
  .play-player-area-controls-info-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .play-computer-area-info,
  .play-player-area-controls-info {
    font-size: 1.3rem;
  }
  .play-computer-area-info-name,
  .play-player-area-controls-info-name {
    font-size: 1.3rem;
  }
  .play-computer-area-info-count, .play-computer-area-info-score,
  .play-player-area-controls-info-count,
  .play-player-area-controls-info-score {
    font-size: 0.8rem;
  }
  .play-computer-area-info,
  .play-player-area-controls-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .play-computer-area-info-name, .play-computer-area-info-count, .play-computer-area-info-score,
  .play-player-area-controls-info-name,
  .play-player-area-controls-info-count,
  .play-player-area-controls-info-score {
    width: 100%;
  }
  .play-computer-area-info-name,
  .play-player-area-controls-info-name {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .play-computer-area-info-message,
  .play-player-area-controls-info-message {
    display: none;
  }
  .play-player-area-controls-buttons button {
    margin: 0.25rem 0;
    width: 9rem;
  }
  .card-flip {
    width: 4rem;
  }
  .play-modal-title {
    font-size: 2rem;
  }
  .play-modal-message {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .play-battle-message-text {
    font-size: 5rem;
    width: 15rem;
    left: calc(50% - 8rem);
  }
}

@media (max-width: 400px) {
  .play-modal-message {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .play-battle-message-text {
    font-size: 4rem;
    width: 12rem;
    left: calc(50% - 6rem);
  }
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #ffffff;
  font-family: 'Black Ops One', sans-serif;
  font-size: 1rem;
  letter-spacing: undefined;
  color: #070707;
}

.footer-konami {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-konami-video {
  width: 80%;
  height: 100%;
  margin: 10% auto;
  background-color: #070707;
  border-radius: 2rem;
  margin: 2% auto;
  padding: 1rem 0;
}

.footer-konami-video iframe {
  display: block;
  margin: 2rem auto;
}
/*# sourceMappingURL=main.css.map */