.header {
  background: linear-gradient(rgba(0, 100, 0, 0.7), rgba(0, 100, 0, 0.7)), url('../assets/green-army-men.jpg');
  background-position: center;
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
  height: 100vh;

  &-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    @include blackops(12rem, #FFFFFF, 1.5rem);
    text-shadow: 3px 3px $secondary-color;
  }

  &-about-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #FFFFFF;
    text-shadow: 2px 2px $secondary-color;
  }

  &-about-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-input-name {
      text-align: center;
      background-color: #FAFAFA;
      border: 2px solid $secondary-color;
      border-radius: 1rem;

      display: block;
      width: 18rem;
      margin: 1rem auto;
      padding: 0.3rem 0;

      @include blackops(1.3rem, undefined, 0.3rem);
    }

    &-submit {
      display: block;
    }
  }

  // skip arrow appears only after user fills out their name
  &-skip-arrow {
    display: none;
    margin-top: 0.75rem;
  }
  
  // modal pop up for invalid name
  &-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.7);
  
    &-text {
      background-color: $secondary-color;
      color: #ffffff;
      
      @include blackops(2rem, #ffffff, undefined);
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
     
      width: 40%;
      margin: 15% auto;
      padding: 2rem 0;
    }
  }
}

@media (max-width: 930px) {
  .header-about-text {
      font-size: 1.5rem;
  }

  .header-modal-text {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .header {
    &-title {
      font-size: 8rem;
    }

    &-about-text {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &-title {
      font-size: 5rem;
    }

    &-about-text {
      font-size: 1rem;
      margin-top: 2rem;
    }
  }
   
  .header-modal-text {
    width: 70%;
  }
}

@media (max-width: 475px) {
  .header-modal-text {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .header {
     &-title {
      // font-size: 5rem;
      letter-spacing: 0;
    }
    
    &-about-form-input-name {
      width: 14rem;
    }

    &-modal-text {
      width: 90%;
      font-size: 1.5rem;
    }
  }
}

// for landscape device heights
@media (max-height: 535px) {
  .header {
    height: 100%;
    padding-bottom: 3rem;
  }
}
