.instructions {
  padding: 1rem 0;
  height: 100vh;

  background-image: url('../assets/cards.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 100%;
  background-position-x: 100%;

  &-flex-container {
    display: flex;
  }

  &-image {
    width: 35%;
  }

  &-text {
    width: 65%;
    padding-left: 1rem;

    font-size: 1.3rem;
    line-height: 1.6;

    // hide the boring instructions
    &-plain {
      display: none;
    }
  }

  // toggle clases for instructions
  &-show {
    display: block;
  }

  &-hide {
    display: none;
  }
  
  &-button {
    margin: 1rem auto;
    width: auto;
  }
  
  &-skip {
    padding: 0.3rem 2rem;
  }

  // styles for the rules list to fit
  &-rules-list {
    width: 80%;
    padding-left: 1.5rem;
  }

  &-computer-name {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (max-width: 1074px) {
  .instructions-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .instructions {
    height: 100%;

    &-image {
      width: 30%;
    }

    &-rules-list {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .instructions {
    &-button {
      display: block;
    }

    // for proper alignment for skip button
    &-text {
      text-align: center;
    
      &-fun,
      &-plain {
        text-align: left;
      }
    }
  }
}

@media (max-width: 710px) {
  .instructions {
    padding: 2rem 0;

    &-image {
      display: none;
    }

    &-text {
      width: 100%;

      padding: 0;
    }

    &-button {
      display: inline-block;
    }
  }
}

@media (max-width: 475px) {
  .instructions {
    &-text {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}