// play area
.play {
  height: 100vh;
  background-color: $primary-color;
  color: #ffffff;
  position: relative;

  // styles used for when the background image changes during war
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // player area and computer area take up each 50% of the 100vh 
  &-computer-area,
  &-player-area {
    height: 50vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 0;
  }

  // computer info
  &-computer-area-info {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &-count,
    &-name,
    &-empty {
      width: calc(100% / 3);
    }
  }

  // player buttons
  &-player-area-controls-buttons button {
    width: 10rem;
    margin: 1rem 0.5rem;
    text-transform: uppercase;

    font-family: "Black Ops One", sans-serif;
    font-size: 1.3rem;

    background: $primary-color;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    border: 3px solid #000000;
    border-radius: 1rem;

    &:hover,
    &:focus {
      background-color: lighten($primary-color, 10%);
    }
  
    &:active {
      background-color: darken($primary-color, 10%);
    }
  }

  // player info
  &-player-area-controls-info {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-top: 0.5rem 0;  
    
    &-score,
    &-name,
    &-count {
      width: calc(100% / 3);
    }
  }

  // player/computer text styling
  &-computer-area-info-count,
  &-player-area-controls-info-score,
  &-player-area-controls-info-count {
    @include blackops(1.2rem, #ffffff, undefined);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  // player/computer text styling
  &-computer-area-info-name,
  &-player-area-controls-info-name {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
}

// card flip
.card-flip {
  width: 6.5rem;
  height: auto;
  margin: 0 auto;
  perspective: 1000px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  &-forward.rotate {
      transform: rotateY(180deg);
  }

  &-reverse.rotate {
    transform: rotateY(-180deg);
  }

  &-front,
  &-back {
    width: 100%;
    top: 0;
    height: 100%;
    backface-visibility: hidden;
  }  

  &-back {
    position: absolute;
    transform: rotateY(180deg);
  }
}

.play-battle-message-text {
  display: none;
  position: absolute;
  text-align: center;
  top: calc(50% - 5rem);
  left: -5rem;
  z-index: 999;
  height: 100%;
  width: 100%;
  transform: rotate(20deg);

  @include blackops(10rem, #000000, undefined);
}

// modal pop up for game ending
.play-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);

  &-text {
    border-radius: 2rem;
    background-color: #544;
    width: 80%;
    margin: 5% auto;
    padding: 2rem 0;
  }

  &-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }

  &-message {
    font-size: 1.3rem;
    line-height: 1.6;
    width: 80%;
    margin: 2rem auto;
  }

  &-score {
    text-transform: uppercase;
    text-align: center;
    @include blackops(1.2rem, #ffffff, undefined);
  }

  &-button {
    text-align: center;
    text-transform: uppercase;
    background-color: #cfcfcf;
    border: 2px solid #000000;
    background-color: $primary-color;
    color: #ffffff;
    border-radius: 1rem;

    display: block;
    width: 10rem;
    margin: 2rem auto;
    padding: 0.3rem 0;

    font-family: "Black Ops One", sans-serif;
    font-size: 1.3rem;
  }
}