// play area
.play {
  background-color: $primary-color;
  color: #ffffff;

  // relative for modal
  position: relative;

  font-family: "Black Ops One", sans-serif;

  // styles used for when the background image changes during war
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-computer-area,
  &-player-area {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 0;
  }

  // computer display info
  &-computer-area-info,
  &-player-area-controls-info {
    display: flex;
    justify-content: center;

    &-score,
    &-count,
    &-name,
    &-message {
      width: calc(100% / 3);
    }

    &-name {
      font-size: 1.8rem;
      text-shadow: 2px 2px #000000;
    }
  }

  &-computer-area-info {
    margin-bottom: 1rem;
  }

  // player buttons
  &-player-area-controls-buttons {
    margin: 1rem;

    // buttons gray out when disabled during gameplay
    &-battle.disabled,
    &-ceasefire.disabled {
      background-color: #373737;
      color: #777777;
    }
  }

  // player info
  &-player-area-controls-info {
    align-items: flex-end;

    padding-top: 0.5rem 0;  
  }

  // player/computer text styling
  &-computer-area-info-count,
  &-computer-area-info-name,
  &-player-area-controls-info-score,
  &-player-area-controls-info-count,
  &-player-area-controls-info-name {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

    // WIN, LOSE, WAR message during gameplay
  &-battle-message-text {
    display: none;
    position: absolute;
    text-align: center;
    top: calc(50% - 6rem);
    left: calc(50% - 12rem);
    width: 22.5rem;
    z-index: 999;
    transform: rotate(20deg);
  
    @include blackops(8rem, $secondary-color, undefined);
  }
}

// card flip style/animation
// tutorial from W3C
.card-flip {
  width: 6.5rem;
  height: auto;
  margin: 0 auto;
  perspective: 1000px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  // rotation directions for cards
  &-forward.rotate {
      transform: rotateY(180deg);
  }

  &-reverse.rotate {
    transform: rotateY(-180deg);
  }

  &-front,
  &-back {
    width: 100%;
    top: 0;
    height: 100%;
    backface-visibility: hidden;
  }  

  &-back {
    position: absolute;
    transform: rotateY(180deg);
  }
}

// modal pop up for game ending
.play-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);

  text-align: center;

  &-text {
    border-radius: 2rem;
    background-color: #544;
    width: 80%;
    margin: 2% auto;
    padding: 1rem 0;
  }

  &-title {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }

  &-message {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: left;
    width: 80%;
    margin: 2rem auto;
  }

  &-score {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  &-button {
    display: block;
    margin: 2rem auto;
  }
}

@media (max-width: 1310px) {
  .play-computer-area-info, 
  .play-player-area-controls-info {
    &-count,
    &-message,
    &-score {
      width: 25%;
      font-size: 1rem;
    }

    &-name {
      width: 50%;
    }
  }
}

@media (max-width: 905px) {
  .play-modal {
    &-text {
      padding: 0.5rem 0;
    }

    &-title {
      font-size: 3.5rem;
    }

    &-message,
    &-button {
      margin: 1rem auto;
    }
  }
}

@media (max-width: 745px) {
  .play-computer-area-info-name,
  .play-player-area-controls-info-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .play-computer-area-info,
  .play-player-area-controls-info {
    font-size: 1.3rem;

    &-name {
      font-size: 1.3rem;
    }

    &-count,
    &-score {
      font-size: 0.8rem;
    }
  }

  .play-computer-area-info,
  .play-player-area-controls-info {
    flex-direction: column;

    &-name,
    &-count,
    &-score {
      width: 100%;
    }

    &-name {
      order: -1;
    }

    &-message {
      display: none;
    }
  }

  .play-player-area-controls-buttons button {
    margin: 0.25rem 0;
    width: 9rem;
  }

  .card-flip {
    width: 4rem;
  }

  .play-modal {
    &-title {
      font-size: 2rem;
    }

    &-message {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}

@media (max-width: 500px) {
  .play-battle-message-text {
    font-size: 5rem;
    width: 15rem;
    left: calc(50% - 8rem);
  }
}

@media (max-width: 400px) {
  .play-modal-message {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .play-battle-message-text {
    font-size: 4rem;
    width: 12rem;
    left: calc(50% - 6rem);
  }
}